<h1>Create A New Task!</h1>
<small>bla bla bla</small>


<%= form_for @taskslist, url: taskslists_path, method: :post do |f| %>

    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <br>
    <%= f.label :Task_description %><br>
    <%= f.text_area :description %><br>
    <br>
    <%= f.submit %>
    <% end %>


    