<%= link_to "Back to Home", taskslists_path %>

<h2> <%= @taskslist.title %> </h2>

<p> <%= @taskslist.description %> </p>
<br>

<%= link_to "Edit Task", edit_taskslist_path(id: @taskslist.id) %><br><br>


<% @taskslist.todos.order(created_at: :desc).each do |comment| %>

    
    <p> <%= comment.list %> </p><br>
<% end %>





    