<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <% flash.class %>
  <%-flash.each do |key,value| %>
  <% key %>
  <h3><%= value %></h3>
  <% end %>
    <%= yield %>
  </body>
</html>
